# Database
DATABASE_URL="postgresql://usuario:password@localhost:5432/midatopay"

# JWT
JWT_SECRET="tu_jwt_secret_super_seguro_aqui"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
NODE_ENV="development"

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Email Configuration (Resend)
# Obtén tu API key en: https://resend.com/api-keys
RESEND_API_KEY=re_dSLFjimD_Fm1okaS4tUMyMeBvRfE3Uq2m


# Clerk Authentication
# Obtén tus credenciales en: https://dashboard.clerk.com
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_JWKS_URL=https://sound-thrush-66.clerk.accounts.dev/.well-known/jwks.json
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx